<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>THE BAND</h3>
  <p><em>We love music!</em></p>
  <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Fantastic Todo</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="../assets/fantastic_todo.png" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p><strong>Demo:</strong> <a href="https://fantastictodo.herokuapp.com/">Show</a></p>
        <p><strong>Source:</strong> <a href="https://github.com/MusheghKh/TODO">Show</a></p>
        <p><strong>Developed with <a href="https://java.com">Java 8</a> and <a href="https://spring.io/">Spring Framework</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Mini programming language</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="../assets/mini_lang.png" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
      <p><strong>Source:</strong> <a href="https://github.com/MusheghKh/TODO">Mini Programming Language</a></p>
      <p><strong>This is mini programming language developed by me using <a href="https://java.com">Java</a></strong></p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Name</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="https://www.w3schools.com/bootstrap/bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Bass player</p>
        <p>Loves math</p>
        <p>Member since 2005</p>
      </div>
    </div>
  </div>
</div>